/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --main-color: rgb(51, 38, 97);
  --text-color: rgb(62, 39, 146);
  --background-color: rgba(255, 255, 255, 0.87);
  --border-color: rgb(58, 52, 94);
  --items-background-color: rgb(241, 229, 253);
  --shadow-color: rgb(109, 104, 104);
  --main-background-color: rgb(216, 213, 230);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --timing-function: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

#root {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
  flex-direction: column-reverse;
}

.banksListContainer,
.bank-info {
  height: auto;
  padding: 10px;

  border: solid 1px var(--border-color);
  border-radius: 4px;
  background-image: linear-gradient(70deg, #9c67ce 0%, #c1d8f0 40%, #914ad3 100%);
}

.bank-info {
  border: none;
  box-shadow: 1px 1px 3px rgb(109, 104, 104);
}

.itemBankContainer {
  min-height: 50px;

  border: solid 1px var(--border-color);
  background-image: linear-gradient(30deg, #9c67ce 0%, #a4c7eb 40%, #914ad3 90%);
  border-radius: 4px;
}

.bank-items-btn {
  display: flex;
  gap: 5px;
  padding: 8px;
  flex-direction: row-reverse;

  font-size: 10px;
  cursor: pointer;
  background-color: var(--main-background-color);
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 1px 1px 3px var(--shadow-color);
  border: none;
  letter-spacing: 2px;
  color: var(--text-color);
  /* text-shadow: 0 10px 10px var(--shadow-color); */
  cursor: pointer;
}

.bank-items-btn:hover,
.bank-items-btn:focus {
  background-color: rgb(231, 225, 252);
  box-shadow: 2px 2px 4px var(--shadow-color);
}

.bankItems,
.bank-info-text {
  list-style: none;

  display: flex;
  margin-bottom: 10px;
  padding: 10px;

  font-size: 20px;
  color: rgb(26, 16, 61);
  justify-content: space-between;
  border-radius: 4px;
  background-color: var(--items-background-color);
  align-items: center;
}

.bankItems {
  cursor: pointer;
}

.bankItems:hover,
.bankItems:focus {
  box-shadow: 1px 1px 3px var(--shadow-color);
}

.selected-bank {
  background-image: linear-gradient(40deg, #bfdffd 10%, #c09be5 80%);
  box-shadow: 2px 2px 4px var(--shadow-color);
}

.bank-btn-wrap {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.bank-icon {
  fill: rgb(89, 70, 155);
}

.js-inputForFindBank {
  min-width: 88vw;
}

.hidden {
  display: none;
}

.bank-items {
  padding: 10px 56px;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--main-background-color);
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 5px 5px 5px var(--shadow-color);
  border: none;
  letter-spacing: 4px;
  color: var(--text-color);
  text-shadow: 0 10px 10px var(--shadow-color);
}

.changeBtn {
  padding: 8px;
  margin-left: 10px;

  cursor: pointer;
  background-color: var(--main-background-color);
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 1px 1px 3px rgb(100, 96, 96);
  border: none;
  letter-spacing: 2px;
  color: var(--text-color);
}

.changeBtn:hover,
.changeBtn:focus {
  background-color: rgb(231, 225, 252);
  box-shadow: 2px 2px 4px var(--shadow-color);
}

/* ModalForm */
.modal {
  min-width: 300px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  text-align: center;
  padding: 40px 20px;
  background-color: var(--items-background-color);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
}

.backdrop-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;

  background-color: var(--items-background-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  transition: background-color var(--timing-function);
}

.modal-close-btn-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  transition: fill var(--timing-function);
}

.backdrop-modal-close:hover,
.backdrop-modal-close:focus,
.modal-close-btn-svg:hover,
.modal-close-btn-svg:focus {
  background-color: var(--main-color);
  fill: var(--main-background-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-title {
  margin-bottom: 20px;
}

.modal-input-wrap label {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.modal-input-wrap input {
  min-width: 270px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--items-background-color);
}

.modal-add-btn {
  min-width: 140px;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--main-background-color);
}

.modal-add-btn:hover {
  background-color: rgb(206, 198, 235);
}

.add-btn-shadow {
  box-shadow: 2px 1px 5px rgba(32, 32, 32, 0.7);
}

.add-btn-shadow:hover,
.add-btn-shadow:focus {
  background-color: rgb(231, 225, 252);
  box-shadow: 2px 2px 4px rgba(36, 35, 35, 0.7);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20z;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s all;
}

.is-show {
  opacity: 1;
  visibility: visible;
}

/* ModalForm */

@media screen and (min-width: 475px) {
  #root {
    flex-direction: row;
  }

  .itemBankContainer {
    flex-grow: 1;
  }

  .js-inputForFindBank {
    margin-left: 10px;
  }

  .js-inputForFindBank {
    min-width: 406px;
  }

  .bankItems,
  .bank-info-text {
    min-width: 388px;
  }

  .bank-info-text {
    min-width: auto;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.change-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 600ms linear;
  width: 60%;
  background-color: var(--items-background-color);
  border-radius: 4px;
  padding: 40px 24px;
  overflow: hidden;
}

.modal-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--trans);
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background-color: rgb(62, 39, 146);
}

.modal-close:hover .modal-button,
.modal-close:focus .modal-button {
  fill: rgb(216, 213, 230);
}

.change-modal-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.change-modal-text {
  font-size: 20px;
  color: rgb(26, 16, 61);
  display: block;
}

.change-modal-input {
  height: 37px;
  font-size: 20px;
  width: 100%;
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.8);
  outline: none;
}

.change-modal-input::-webkit-outer-spin-button,
.change-modal-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.change-modal-ok {
  padding: 8px 45px;
  margin-left: 10px;

  cursor: pointer;
  background-color: var(--main-background-color);
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 1px 1px 3px rgb(100, 96, 96);
  border: none;
  letter-spacing: 2px;
  color: var(--text-color);
}